<% include ../partials/header %>


    <div id="search">
        <nav class="navbar navbar-dark bg-dark justify-content-between">
            <form class="form-inline">
                <input type="text" name="searchTerm" id="searchTerm" value="" class="form-control mr-sm-2" />
                <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="searchbtn" onclick="Onsearch()">Search</button>
            </form>

            <input type="radio" name="check" value="status" id="status" /> Search by status
            <input type="radio" name="check" value="username" id="username">search by username
            <input type="radio" name="check" value="public" id="public_messages" /> Public Messages
            <input type="radio" name="check" value="private" id="private_messages" /> Private Messages
            <input type="radio" name="check" value="announcements" id="announcements" />Public Announcements
        </nav>
    </div>

    <span style="font-size:20px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

    <div class="my-3 p-3 bg-white rounded box-shadow">
        <div id="results"></div>
    </div>

    <div id="chatprivately">
        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-8">

                    <!-- This is div for public messages -->

                    <div class="my-3 p-3 bg-white rounded box-shadow">

                        <div id="latestPrivateMessages"> </div>
                        <!--
                        <div class="media text-muted pt-3" style="text-align: right">
                            <img data-src="holder.js/32x32?theme=thumb&bg=6f42c1&fg=6f42c1&size=1" alt="" class="mr-2 rounded">
                            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                                <strong class="d-block text-gray-dark">@Resp</strong> Private Chat Message reply
                            </p>
                        </div>
                    -->
                        <div id="showprivatemessages"></div>
                        <br>

                        <div id="postMessageForm">
                            <form class="form-group">
                                <div class="form-group">
                                    <input type="hidden" name="authorPrivate" id="authorPrivate" value="" />
                                    <input type="hidden" name="targetPrivate" id="targetPrivate" value="" />
                                    <textarea required type="text" class="form-control" id="messagePrivateArea" name="content" rows="2" cols="45" placeholder="Write Message"></textarea>
                                    <br>
                                    <div class="btn-panel">
                                        <button type="button" class="btn btn-primary mb-2" id="postPrivatetMessage">
                                            <strong>Post Private Message</strong>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <!--- This is the div for showing the list of all annoucements -->
                <div class="col-md-4">
                    <h6 class="border-bottom border-gray pb-2 mb-0">Users Directory</h6>
                    <div id="userlist"></div>
                </div>

                </main>
                <!-- Seperate the footer code from main code this code resides in partials footer.ejs -->
                <!--for running faster js code its reccommende it is placed down here-->

                <% include ../partials/footer %>
                    <script>
                        userDirectoryList_Handler()
                    </script>